/* This adds subtle animation for effect*/
html {
  height: 100%;
  box-sizing: border-box;
  animation: flicker 30s infinite;

}
/* This is the body plus background image*/
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 26px;
  font-family: ibm;
  font-smooth: never;
  background-image: url("../img/bg.png");
  
}
* {
  box-sizing: inherit;
}

@font-face {
  font-family: 'ibm';
  src: url('https://api.allorigins.win/raw?url=https://int10h.org/oldschool-pc-fonts/fontlist/woff/web_ibm_vga_8x16.woff'); 
}

section {
  height: 100%
}
.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.page-header {
  display: flex;
  margin-top: 10px;
  background-color: #1016b9;
  color: #FFF;
  padding: 10px;
  border: 1px rgb(255, 242, 0) solid;
}

.page-footer {
  margin-top: 10px;
  background-color: #0296b8;
  color: #1016ba;
  padding: 10px;
}
.page-footer-shareware {
  margin-top: 10px;
  background-color: #aa0100;
  color: #FFF;
  padding: 10px;
}

.page-body {
  padding: 20px;
}

header {
  font-size: 26px;
  font-family: ibm;
  font-smooth: never;
}
.header-copyright {
  color: #69cd85;
  flex: 1;
  text-align: left;
}
.header-page-title {
  color: #60dafe;
  flex: 1;
  text-align: center;
}
.header-date {
  flex: 1;
  text-align: right;
  animation: flicker 10s infinite;
}

ul {
  list-style: none;
  padding: 0px;
}

ul li:before
{
  content: '\2';
  margin: 0 0.5em;    /* any design */
}
/* This is the mainmenu on page with white double border*/
.make-selection {
  margin: 50px auto 0 auto;
  width: 62%;
  border: 6px #fff double;
  background-color: #1016b9;
  color: #FFF;
  padding: 24px;
}
.make-sub-selection {
  margin-top: -100px;
  margin: 0 auto;
  width: 62%;
  border: 6px #fff double;
  color: #FFF;
  background-color: #1016b9;
  padding: 24px;
}
.exit-joke, .access-key-letter{
  color: #a62e16;
}
.shareware-notice {
  color: yellow;
}

#yellowp {
  color: #faf170;
}

a {
  color: white;
  width:100%;
  text-decoration: none;
}
a:hover {
  background-color: grey;
  width:100%;
}
li:hover {
  background-color: grey;
}

@media(max-width: 500px) {
  body {
    font-size: 16px;
    background-color: lightgreen;
  }

  header {
    font-size: 16px;
    font-family: ibm;
    font-smooth: never;
  }
  .make-selection {
    margin: 50px auto 0 auto;
    width: 80%;
    border: 6px #fff double;
    background-color: #1016b9;
    color: #FFF;
    padding: 24px;
  }
  .make-sub-selection {
    margin-top: -100px;
    margin: 0 auto;
    width: 80%;
    border: 6px #fff double;
    color: #FFF;
    background-color: #1016b9;
    padding: 24px;
  }
}
@keyframes flicker {
  0% {
    opacity: 1;
  }
  15% {
    opacity: 0.9;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  90% {
    opacity: 0.85;
  }
  100% {
    opacity: 0.94387;
  }
}